main {
    letter-spacing: 1px;
    line-height: 1.5;
}

.ourProgram-grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr; /* Two equally spaced columns */
    gap: 10px; /* Adjust the gap between columns */
    background-color: #f2f2f2; /* Add background color for visualization */
    padding-bottom: 10px;
    padding-top: 10px;
}

.ourProgram-grid-item {
    padding: 50px; /* Add padding for spacing around content */
    padding-top: 10px;
    padding-bottom: 10px;
}

.ourProgram-grid-item.image img {
    max-width: 100%;
    height: auto;
}


.ourProgram-grid-item.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    letter-spacing: 1px;
    line-height: 1.5;
}


.secondaryTitle {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.laundryExample-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns that take up equal space */
    gap: 20px; /* Adjust the gap between items */
    padding-left: 400px; /* Add padding to the container */
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f2f2f2; /* Add background color for visualization */
}

.laundryExample-grid-item {
    display: flex;   
}

.laundryExample-grid-item img {
    max-width: 75px;
    height: 70px;
    margin-top: -10px;

}

.thirdParagraph {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 130px;
    padding-right: 130px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.menu {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.menu-title {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.menu-content {
    padding: 10px;
    display: none; /* Hidden by default */
}

/* Style for the toggle icon */
.icon {
    float: right;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/* Mobile */

@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    .ourProgram-grid-container {
      grid-template-columns: 1fr; /* Set it to one column */
    }
    
    /* Optional: Adjust other styles for better mobile responsiveness */
    .ourProgram-grid-item {
      padding: 20px; /* Adjust padding for spacing around content */
    }
  }

  @media (max-width: 600px) {
    .laundryExample-grid-container {
      grid-template-columns: 1fr; /* Set it to one column */
      padding-left: 20px; /* Optional: Adjust padding for better mobile responsiveness */
      padding-right: 20px; /* Optional: Adjust padding for better mobile responsiveness */
    }
  }

  @media (max-width: 600px) {
    .thirdParagraph {
      padding-left: 20px; /* Optional: Adjust padding for better mobile responsiveness */
      padding-right: 20px; /* Optional: Adjust padding for better mobile responsiveness */
    }
  }